<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/redwood/9.0.1/web/redwood.css" id="css" />
    <script type="text/javascript" src="/js/libs/require/require.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script>
        requirejs.config({baseUrl: '/js'});
        require(['knockout', 'ojs/ojknockout', 'my-hello/loader'], function (ko) {
            const app = new function() {
                this.message = ko.observable('Example of my-hello');
            }
            ko.applyBindings(app, document.getElementById("app"));
        });
    </script>
</head>
<body>
  <div id="app" class="oj-web-padding">
      <oj-bind-text value="[[message]]"></oj-bind-text>
      <my-hello></my-hello>
  </div>
</body>
</html>
